<div>
 <% @users.each do |user| %>
   <% next if user.admin? %>
   <div class="button_bar">
    <% unless user.validated %>
      <%= form_for(user, method: :patch) do |f| %>
        <%= f.hidden_field :validated, value: true %>
        <%= f.submit 'Validate user' %>
      <% end %>
    <% end %>

    <%= form_for(user, method: :delete) do |f| %>
      <%= f.submit 'Delete User' %>
    <% end %>
  </div>
 <%= render partial: 'user_info', locals: {user: user} %>
<% end %>
</div>