<div class="centered">
  <%= render 'flash_error' %>
  <%= form_for(@user) do |f| %>
    <%= f.label :first_name, 'First name: ' %>
    </br>
    <%= f.text_field :first_name, required: true %>
    </br>
    <%= f.label :last_name, 'Last name: ' %>
    </br>
    <%= f.text_field :last_name, required: true %>
    </br>
    <%= f.label :password, 'Password: ' %>
    </br>
    <%= f.text_field :password, required: true, type: :password %>
    </br>
    <%= f.label :password_confirmation, 'Confirm password: ' %>
    </br>
    <%= f.text_field :password_confirmation, required: true, type: :password %>
    </br>
    <%= f.label :email, 'Email: ' %>
    </br>
    <%= f.text_field :email, required: true, type: :email %>
    </br>
    <%= f.label :icp, 'ICP: ' %>
    </br>
    <%= f.text_field :icp, required: true %>
    </br>
    <%= f.fields_for :address do |address_form|%>
      <%= address_form.label :line_1, 'Street address: ' %>
      </br>
      <%= address_form.text_field :line_1, required: true %>
      </br>
      <%= address_form.label :line_2, 'Suburb: ' %>
      </br>
      <%= address_form.text_field :line_2, required: true %>
      </br>
      <%= address_form.label :line_3, 'City: ' %>
      </br>
      <%= address_form.text_field :line_3, required: true %>
      </br>
    <% end %>
    <%= f.submit("Submit") %>
  <% end %>
</div>