<!DOCTYPE html>
<html>
<head>
  <title>Minishop</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="topnav">
    <%= link_to('Login', login_url) unless @current_user %>
    <%= link_to('Logout', logout_url) if @current_user %>
    <%= link_to('Profile', user_url(@current_user)) if @current_user %>
  </div>
  <%= render 'layouts/flash_error' %>
  <%= yield %>
</body>
</html>
